header {
    height: 100%;
}

header img {
    width: 80px;
    height: 75px;
    margin: 10px 0 10px 30px;
}

div.nav {
    display: none;
}

.menu-wrap {
    display: block;
}
  
.menu-wrap {
    position: absolute;
    top: -13px;
    right: 20px;
    z-index: 1;
}
  
.menu-wrap .toggler {
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
  
.menu-wrap .hamburger {
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* Hamburger Line */
.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
  
/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: white;
}
  
/* Moves Line Down */
.menu-wrap .hamburger>div::after {
    top: 10px;
}
  
/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}
  
/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}
  
/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}
  
/* Show Menu */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}
  
.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
}
  
.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}
  
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.menu-wrap .menu>div {
    background: rgba(24, 39, 51, 0.85);
    border-radius: 50%;
    width: 200vw;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
  
.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
  
.menu-wrap .menu div div ul li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
  
.menu-wrap .menu div div ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.4s ease;
}
  
.menu-wrap .menu div div ul li:hover a {
    color: rgb(105, 203, 106);
}

div.introduction {
    background-color: #FFBD00;
    width: 100%;
    height: 792px;
    display: block;
}

div.introduction div:first-child {
    margin: 0;
}

div.introduction div h1 {
    height: 130px;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    padding: 40px 0 0px 15px;
    letter-spacing: 1.9px;
}

div.introduction div p {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 1.7px;
    padding: 0 0 10px 15px
}

div.introduction div div {
    text-align: center;
    margin: 90px 0px 40px -20px;
}

div.introduction div div a:nth-child(2) {
    display: none;
}

.introduction-img {
    margin-left: -13px;
}

.introduction button {
    display: none;
}

div.about {
    height: 100%;
    margin-top: 25px;
}

div.about > div > h1 {
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 13px;
}

div.about > div > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

div.about .carousel {
    display: block;
    margin: 90px 0 70px 0;
    justify-content: center;
    text-align: center;
}

div.about .carousel div {
    width: 100%;
    height: 307px;
    justify-content: center;
    margin: 2%;
    margin-bottom: 85px;
    /* border: 2px solid black; */
}

div.about .carousel div h1 {
    margin: 25px 0;
}

div.about .carousel div p {
    font-weight: 400px;
    font-size: 15px;
    line-height: 23px;
    padding: 0 40px;
}

div.about .about-topgrade h1 {
    font-size: 25px;
    font-weight: 800px;
    letter-spacing: 0.065em;
    padding-bottom: 30px;
}

div.about .about-topgrade p {
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    padding: 0 40px 0 40px;
    text-align: left;
}

div.subjects {
    height: 3150px;
    border-radius: 0;
}

div.subjects h1 {
    font-size: 35px;
    padding: 50px 0 40px;
    letter-spacing: 1.5px;
}

div.subjects p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 140px;
}

div.subjects .subjects-list {
    width: 100%;
    margin: 60px 0;
    display: block;
}

div.subjects .subjects-list div {
    margin-bottom: 90px;
}

div.subjects .subjects-list div p {
    margin: 10px 0 40px;
}

div.subjects a {
    padding: 10px 50px;
}

div.section-one {
    height: 3000px;
}

div.section-one .features > h1 {
    font-size: 50px;
}

div.section-one .features > p {
    font-size: 17px;
    padding: 0 40px;
    line-height: 25px;
}

div.section-one .features-list {
    margin: 0;
    display: block;
    margin-top: 80px;
}
 
div.section-one .features-list div{
    height: 370px;
    margin: 0 auto 60px;
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 4.07873px 24.4724px rgba(0, 0, 0, 0.25);
    border-radius: 36.7486px;
}

div.section-one .features-list div:nth-child(1),div.section-one .features-list div:nth-child(3) {
    margin: 0 auto 60px;
}

div.testimonials > h1 {
    font-size: 45px;
    margin: 150px 0 37px 0;
}

div.testimonials > p {
    font-weight: 400x;
    font-size: 25px;
    margin-bottom: 70px;
}

div.testimonials .testimonials-list div {
    width: 330px;
    height: 250px;
    margin-left: 20px;
}

div.testimonials .testimonials-list div img {
    height: 75px;
    width: 70px;
    margin: 10px 0 0 20px ;
}

div.testimonials .testimonials-list div section p {
    font-size: 15px;
    margin: 35px 0 0 10px;
}

div.testimonials .testimonials-list p {
    font-weight: 600px;
    font-size: 15px;
    margin: 20px 30px 0 80px;
    width: 200px;
}

div.section-one .testimonials-end h1 {
    font-size: 27px;
    margin: 150px 0 70px;
}

div.section-one .testimonials-end p {
    font-size: 19px;
    line-height: 27px;
}

div.contact {
    display: block;
    height: 600px;
}

div.contact div img {
    display: none;
}

div.contact .contact-us {
    display: block;
}

div.contact .contact-us h1 {
    font-size: 50px;
    padding: 40px 0 0;
    letter-spacing: 0;
}

div.contact .contact-us input, textarea {
    width: 70%;
    padding: 10px 20px;
    font-size: 17px;
}

div.contact .contact-us p {
    margin-top: 20px;
}

div.contact .contact-us a {
    margin-left: 0;
    font-size: 18px;
}

footer {
    display: block;
    height: 1300px;
}

footer div.footer-int {
    margin: 0;
}

footer div > img {
    width: 180px;
    height: 151px;
    margin: 50px 0 80px;
}

footer div div {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

footer .copyright {
    display: none;
}

footer div.options {
    display: grid;
    grid-template-areas: "box-1 box-2";
}

footer div.options div {
    margin: 80px 40px 0 40px;
    width: 100%;
}

footer .options h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

footer .copyright-responsive {
    display: block;
    font-size: 16px;
    font-weight: 600px;
    margin-top: 90px;
}