* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto";
}

header {
    width: 100%;
    height: 100%;
    background-color: #FFBD00;
    box-shadow: 0px 5.82118px 29.1059px rgba(0, 0, 0, 0.25);
    display: flex;
}

header img {
    width: 118px;
    height: 100px;
    margin: 9px 100px 0 50px;
}

.menu-wrap {
    display: none;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    line-height: 31px;
    padding: 50px 40px 36px 0;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

nav .btn {
    display: inline;
    width: 183.56px;
    height: 60.39px;
    padding: 10px 40px;
    border-radius: 29.3889px;
}

nav ul li:nth-child(6) {
    margin-left: 140px;
}

nav ul li:nth-child(7) {
    margin-left: 70px;
}

.btn {
    text-decoration: none;
}

.white-btn {
    background-color: #FFFFFF;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.green-btn {
    background-color: #01AA54;
    color: #FFFFFF;
}

div.introduction {
    background-color: #FFBD00;
    width: 100%;
    height: 560px;
    margin-top: 7px;
    display: inline-flex;
}

div.introduction div:first-child {
    margin: 70px 0 0 100px;
}

div.introduction div h1 {
    height: 166px;
    color: #000070;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1.7px;
}

div.introduction div p {
    font-weight: 650;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 1.7px;
}

div.introduction div div {
    margin-top: 80px;
}

div.introduction div div a:nth-child(2){
    margin: 0 60px;
}

div.introduction div div a img {
    height: 64px;
    width: 248.65px;
    margin-bottom: -13px;
}

div.introduction div div .btn {
    padding: 17px 58px;
    border-radius: 40.1578px;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
}

.introduction-img {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.introduction button {
    position: absolute;
    width: 115px;
    height: 115px;
    left: 1320px;
    top: 600px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(135.32deg, #2343E0 8.96%, #0AA5F6 88.88%);
    cursor: pointer;
}

.introduction button img {
    text-align: center;
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

div.about {
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

div.about > div > h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    color: #000070;
    letter-spacing: 3px;
    margin-bottom: 17px;
}

div.about > div > p {
    font-weight: 500;
    font-size: 20px;
}

span {
    color: #F48D04;
}

div.about .carousel {
    display: flex;
    flex-direction: row;
    margin: 43px 0 70px 0;
    justify-content: center;
}

div.about .carousel div {
    width: 25%;
    height: 307px;
    justify-content: center;
    margin: 2%;
    /* border: 2px solid black; */
}

div.about .carousel div img {
    width: 168px;
    height: 168px;
}

div.about .carousel div h1 {
    font-weight: 800px;
    font-size: 25px;
    margin: 15px 0;
}

div.about .carousel div p {
    font-weight: 400px;
    font-size: 15px;
    line-height: 23px;
}

div.about .about-topgrade h1 {
    font-size: 37px;
    font-weight: 800px;
    line-height: 62px;
    letter-spacing: 0.065em;
    color: #000070;
    padding-bottom: 43px;
}

div.about .about-topgrade p {
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
}

div.about video {
    margin: 60px 0 100px;
}

div.subjects {
    text-align: center;
    width: 100%;
    height: 1200px;
    background: rgba(217, 217, 255, 0.3);
    border-radius: 45.436px;
}

div.subjects h1 {
    color: #000070;
    padding: 50px 0 70px;
    font-size: 55px;
    font-weight: 700px;
}

div.subjects p {
    font-weight: 400;
    font-size: 28px;
}

div.subjects .subjects-list {
    width: 100%;
    margin: 60px 0;
    display: grid;
    row-gap: 10px;
    grid-template-areas: "box-1 box-2 box-3";
}

div.subjects .subjects-list div {
    height: 100%;
    width: 100%;
}

div.subjects .subjects-list img{
    height: 300px;
    width: 300px;
    border-radius: 10%;
}

div.subjects .subjects-list div p {
    font-weight: 900px;
    font-size: 30px;
    margin: 10px 0 40px;
}

div.subjects .subjects-list div:nth-child(1) {
    color: #861B47;
    ;
}

div.subjects .subjects-list div:nth-child(2) {
    color: #1B70A0;
}

div.subjects .subjects-list div:nth-child(3) {
    color: #FC611F;
}

div.subjects .subjects-list div:nth-child(4) {
    color: #03C9A8;
}

div.subjects .subjects-list div:nth-child(5) {
    color: #FDBC00;
}

div.subjects .subjects-list div:nth-child(6) {
    color: #FFAD00;
}

div.subjects a {
    padding: 15px 80px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-size: 28px
}

div.section-one {
    text-align: center;
    width: 100%;
    height: 1700px;
}

div.section-one .features > h1 {
    font-weight: 700px;
    font-size: 70px;
    margin: 80px 0 50px;
    color: #000070;
}

div.section-one .features > p {
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
}

div.section-one .features-list {
    margin: 60px 0;
    display: grid;
    row-gap: 10px;
    grid-template-areas: "box-1 box-2 box-3";
}
 
div.section-one .features-list div{
    height: 370px;
    background: #FFFFFF;
    box-shadow: 0px 4.07873px 24.4724px rgba(0, 0, 0, 0.25);
    border-radius: 36.7486px;
}

div.section-one .features-list div:nth-child(1) {
    margin: 0 50px 0 180px;
}


div.section-one .features-list div:nth-child(3) {
    margin: 0 180px 0 50px;
}

div.section-one .features-list div img {
    height: 170px;
    width: 170px;
    margin: 10px 0 30px;
}

div.section-one .features-list div hr {
    background-color: #000070;;
    height: 2px;
    margin: 0 30px;
}

div.section-one .features-list div h1 {
    font-weight: 800;
    font-size: 30px;
    color: #000070;
    margin: 10px 0 20px;
}

div.section-one .features-list div p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0 6px;
}

div.testimonials > h1 {
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 37px;
}

div.testimonials > p {
    font-weight: 400x;
    font-size: 30px;
    margin-bottom: 70px;
}

div.testimonials .testimonials-list div .user-text {
    width: 800px;
    height: 350px;
    box-shadow: 0px 3.26936px 19.6162px rgba(0, 0, 0, 0.25);
    border-radius: 12.9738px;
    margin-left: 50px;
    text-align: left;
}

div.testimonials .testimonials-list div img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 17px 0 0 37px ;
}

div.testimonials .testimonials-list div section {
    display: flex;
    flex-direction: row;
}

div.testimonials .testimonials-list div section p {
    font-size: 20px;
    margin: 50px 0 0 30px;
}

div.testimonials .testimonials-list div section p span {
    color: #9A9A9A;
    margin-top: 10px;
}

div.testimonials .testimonials-list p {
    font-weight: 600px;
    font-size: 18px;
    margin: 20px 30px 0 160px;
}

.slide-row {
    display: flex;
    width: 100%;
    transition: 0.5s;
}

.slide-col {
    position: relative;
}

.container {
    position: absolute;
    /* transform: translate(-50%,-50%); */
}

.indicator {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

.btn-slide {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
}

.active {
    width: 45px;
}

.testimonial {
    overflow: hidden;
}

div.section-one .testimonials-end h1 {
    color: #000070;
    font-weight: 600px;
    font-size: 35px;
    margin: 50px 0 60px;
}

div.section-one .testimonials-end p {
    font-weight: 400px;
    font-size: 20px;
    line-height: 27px;
}

div.section-one .testimonials-end:nth-child(4) {
    margin-bottom: 70px;
}

div.section-one .testimonials-end a {
    padding: 17px 58px;
    border-radius: 40px;
    font-weight: 400px;
    font-size: 25px;
}

div.section-one .testimonials-end a img {
    width: 220px;
    height: 60px;
    margin-top: 40px;
    border-radius: 15px;
}

div.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    background-color: #F5B100;
}

div.contact div {
    width: 47%;
}

div.contact div img {
    width: 70%;
    height: 80%;
    margin: 50px 0 0 200px;
}

div.contact .contact-us {
    display: block;
    text-align: center;
    width: 100%;
}

div.contact .contact-us h1 {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 800px;
    margin: 60px 0 40px;
    letter-spacing: 0.065em;
}

div.contact .contact-us input, textarea {
    width: 45%;
    margin: 10px 0;
    padding: 13px 30px;
    font-size: 20px;
    border-radius: 17px;
    border: none;
}

div.contact .contact-us p {
    margin-top: 20px;
}

div.contact .contact-us a {
    margin: 20px 0 0 260px;
    padding: 15px 58px;
    border-radius: 40px;
    font-weight: 400px;
    font-size: 25px;
    border-radius: 17px;
}

footer {
    background-color: #051E13;
    display: flex;
    width: 100%;
    height: 550px;
    text-align: center;
    color: #FFFFFF;
}

footer .options {
    display: flex;
    flex-direction: row;
}

footer div.footer-int {
    margin: 50px 120px 80px 80px;
}

footer div > img {
    width: 180px;
    height: 151px;
    margin-bottom: 30px;
}

footer div p a img {
    width: 220px;
    height: 60px;
}

footer div div {
    text-align: center;
    font-size: 15px;
    font-weight: 600px;
    margin-top: 40px;
}

footer .social-media p {
    margin-left: 100px;;
    text-align: left;
} 

footer div i {
    margin: 15px 7px 0;
}

footer .copyright {
    font-size: 18px;
    font-weight: 600px;
    margin-top: 90px;
}

footer div.options div {
    margin: 80px 80px 0 0;
    text-align: left;
}

footer div.options div h1 {
    font-weight: 600px;
    font-size: 25px;
    margin-bottom: 35px;
}

footer div.options div p {
    font-weight: 600px;
    font-size: 14px;
    margin-bottom: 10px;
}

footer .copyright-responsive {
    display: none;
}