img {
    height: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto";
}

header {
    width: 100%;
    height: 120px;
    background-color: #FFBD00;
    box-shadow: 0px 5.82118px 29.1059px rgba(0, 0, 0, 0.25);
}

header img {
    width: 118px;
    height: 100px;
    margin-left: 50px;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    line-height: 31px;
    padding: 50px 40px 36px 0;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

nav ul li:first-child{
    padding: 0 80px 0 0;
}

nav .btn {
    display: inline;
    width: 183.56px;
    height: 60.39px;
    padding: 10px 40px;
    border-radius: 29.3889px;
}

nav ul li:nth-child(7) {
    margin-left: 150px;
}

nav ul li:nth-child(8) {
    margin-left: 81px;
}

.btn {
    text-decoration: none;
}

.white-btn {
    background-color: #FFFFFF;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.green-btn {
    background-color: #01AA54;
    color: #FFFFFF;
}

div.introduction {
    background-color: #FFBD00;
    width: 100%;
    height: 560px;
    margin-top: 10px;
    display: inline-flex;
}

div.introduction div:first-child {
    margin: 70px 0 0 100px;
}

div.introduction div h1 {
    width: 694.18px;
    height: 166px;
    color: #000070;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1.7px;
}

div.introduction div p {
    font-weight: 650;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 1.7px;
}

div.introduction div div {
    margin-top: 80px;
}

div.introduction div div a:nth-child(2){
    margin: 0 60px;
}

div.introduction div div a img {
    height: 64px;
    width: 248.65px;
    margin-bottom: -13px;     
    /* display: inline; */
}

div.introduction div div .btn {
    padding: 17px 58px;
    border-radius: 40.1578px;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
}

.introduction-img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.about {
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 1400px;
    margin-top: 50px;
}

div.about > div > h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    color: #000070;
    letter-spacing: 3px;
    margin-bottom: 17px;
}

div.about > div > p {
    font-weight: 500;
    font-size: 20px;
}

span {
    color: #F48D04;
}

div.about .carousel {
    display: flex;
    flex-direction: row;
    margin: 43px 0 70px 0;
    justify-content: center;
}

div.about .carousel div {
    width: 25%;
    height: 307px;
    justify-content: center;
    margin: 2%;
    border: 2px solid black;
}

div.about .carousel div img {
    width: 168px;
    height: 168px;
}

div.about .carousel div h1 {
    font-weight: 800px;
    font-size: 25px;
    margin: 15px 0;
}

div.about .carousel div p {
    font-weight: 400px;
    font-size: 15px;
    line-height: 23px;
}

div.about .about-topgrade {
    height: 740px;
    border: 3px solid black;
}

div.about .about-topgrade h1 {
    font-size: 37px;
    font-weight: 800px;
    line-height: 62px;
    letter-spacing: 0.065em;
    color: #000070;
    padding-bottom: 43px;
}

div.about .about-topgrade p {
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
}

div.subjects {
    text-align: center;
    width: 100%;
    height: 1200px;
    background: rgba(217, 217, 255, 0.3);
    border-radius: 45.436px;
}

div.subjects h1 {
    color: #000070;
    padding: 50px 0 70px;
    font-size: 55px;
    font-weight: 700px;
}

div.subjects p {
    font-weight: 400;
    font-size: 28px;
}

div.subjects .subjects-list {
    width: 100%;
    margin: 60px 0;
    display: grid;
    row-gap: 10px;
    grid-template-areas: "box-1 box-2 box-3";
}

div.subjects .subjects-list div {
    height: 100%;
    width: 100%;
}

div.subjects .subjects-list img{
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

div.subjects .subjects-list div p {
    font-weight: 700px;
    font-size: 22px;
    margin: 10px 0 40px;
}

div.subjects .subjects-list div:nth-child(1) {
    color: #861B47;
    ;
}

div.subjects .subjects-list div:nth-child(2) {
    color: #1B70A0;
}

div.subjects .subjects-list div:nth-child(3) {
    color: #FC611F;
}

div.subjects .subjects-list div:nth-child(4) {
    color: #03C9A8;
}

div.subjects .subjects-list div:nth-child(5) {
    color: #FDBC00;
}

div.subjects .subjects-list div:nth-child(6) {
    color: #FFAD00;
}

div.subjects a {
    padding: 15px 80px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-size: 28px
}

div.section-one {
    text-align: center;
    width: 100%;
    height: 1200px;
    /* background: rgba(217, 217, 255, 0.3); */
}

div.section-one .features > h1 {
    font-weight: 700px;
    font-size: 70px;
    margin-top: 50px;
}