img {
    height: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto";
}

header {
    width: 100%;
    height: 100px;
    background-color: #FFBD00;
    box-shadow: 0px 5.82118px 29.1059px rgba(0, 0, 0, 0.25);
}

header img {
    width: 130px;
    height: 90px;
    margin-left: 50px;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    line-height: 31px;
    padding: 47px 40px 53.48px 0;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 26.45px;
}

nav ul li:first-child{
    padding: 0 80px 0 0;
}

nav .btn {
    display: inline;
    width: 183.56px;
    height: 60.39px;
    padding: 7px 35px;
    border-radius: 29.3889px;
}

nav .btn:nth-child(1) {
    margin-left: 40px;
}

.white-btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.green-btn {
    background-color: #4EDE36;
}

div.introduction {
    background-color: #FFBD00;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    display: inline-flex;
}

div.introduction div:first-child {
    margin: 70px 0 0 100px;
}

div.introduction div h1 {
    width: 694.18px;
    height: 166px;
    color: #000070;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1.7px;
}

div.introduction div p {
    font-weight: 650;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 1.7px;
}

div.introduction div div {
    margin-top: 30px;
}

div.introduction div div a:nth-child(2){
    margin: 190px 120px;
}

div.introduction div div a img {
    height: 50px;
    width: 248.65px;
    margin-bottom: -13px;     
    /* display: inline; */
}

div.introduction div div .btn {
    padding: 8px 50px;
    border-radius: 40.1578px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
}

.introduction-img {
    width: 100%;
    height: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.about {
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 1400px;
    margin-top: 50px;
}

div.about > div > h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    color: #000070;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

div.about > div > p {
    font-weight: 500;
    font-size: 20px;
}

span {
    color: #F48D04;
}

div.about .carousel {
    display: flex;
    flex-direction: row;
    margin: 50px 0 70px 0;
    justify-content: center;
}

div.about .carousel div {
    width: 25%;
    height: 300px;
    justify-content: center;
    margin: 2%;
    border: 2px solid black;
}

div.about .carousel div img {
    width: 130px;
    height: 130px;
}

div.about .carousel div h1 {
    font-weight: 800px;
    font-size: 35px;
    margin: 15px 0;
}

div.about .carousel div p {
    font-weight: 400px;
    font-size: 16px;
    line-height: 23px;
}

div.about .about-topgrade {
    height: 740px;
    border: 3px solid black;
}

div.about .about-topgrade h1 {
    font-size: 53px;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: 0.065em;
    color: #000070;
    padding-bottom: 50px;
}

div.about .about-topgrade p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

